.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(230, 181, 230);
}
.navbar-left{
    padding-left: 20px;

}
.navbar-right{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
body{
    text-align: center;
}
